<% author = User.find(question.created_by_user_id) if question.created_by_user_id.present? %>
<div class="question-author-container">
  <p>Asked by
    <% if author.nil? %>
      <%= "stranger" %>
    <% else %>
      <%= link_to "@#{author.nickname}", user_path(author.id) %>
    <% end %>
  </p>
  <p>to <%= link_to "@#{question.user.nickname}", user_path(question.user) %></p>
</div>
<div class="mb-sm question-body">
  <%= question.body %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>

      <%= link_to fa_icon(edit_icon), edit_question_path(question),
                  title: "Update question", class: "mr-sm" %>

      <% unless question.hidden %>
        <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: :patch, title: "Hide question" %>
      <% end %>

      <%= button_to fa_icon("trash-o"), question_path(question),
                    method: :delete, title: "Delete question", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  <% end %>

</div>

