<div class="container">
  <h2 class="title-lg mb">
    New users:
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: "users/user_avatar", locals: { user: user } %>
    <% end %>
  </div>
</div>

<div class="container mt-sm">
  <h2 class="title-lg"> Popular hashtags: <% Hashtag.joins(:questions).uniq.each do |hashtag| %>
    <span><%= link_to hashtag.body, hashtag_path(hashtag.body.delete("#")), class: "hashtag" %></span>
      <% end %>
  </h2>
</div>

<div class="container mt-sm">
  <h2 class="title-lg"> Last <%= @questions.count %> <%= inclination("question", @questions.count) %>: </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container <%= "hidden_question" if question.hidden %>">
    <%= render question %><%# равняется render "question", question: @question %>
  </div>
<% end %>
